{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/prop-types": [2],
    "no-console": 0
  },
  "globals": {
    "require": true,
    "window": true,
    "document": true,
    "module": true,
    "console": true,
    "test": true,
    "expect": true,
    "global": true,
    "shallow": true,
    "mount": true,
    "jest": true
  },
  "env": {
    "es6": true
  }
}
