$dark-gray: #555;
.content {
  background-color: #fefefe; // light-gray
  color: $dark-gray; //dark-gray
  font-family: 'Roboto', sans-serif;
  min-height: calc(100vh - 292px);
}

h1 {
  color: $dark-gray;
  font-family: helvetica;
}

h2 {
  color: #4e4e4e;
  font-family: sans-serif;
}


.container {
  margin: 0 auto;
  @media only screen and (min-width: 1024px) {
    min-width: 1024px;
    max-width: 1024px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
}

.module {
  margin: 6px;
  padding: 6px;
  background-color: #89a0c1; // gray-blue
  box-shadow: 0 1px 1.5rem rgba(4, 26, 55, 0.25);
}



@import 'components/index.scss';
@import 'layout/index.scss';
