.custom-button {
  margin-left: 15px;
  display: inline-block;
  padding: 12px;
  border: 1px solid #0098C9;
  border-radius: 2px;
  color: #0098C9;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &.small {
    padding: 6px 12px;
    min-width: 65px;
    font-size: 13.333px;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
  }
}

.custom-button:hover {
  background-color: #0098C9;
  color: #fff;
  transition: 0.3s;
}

.custom-button-placeholder::first-letter {
  text-transform: lowercase;
}
