.departments {
  padding: 6px;
  border: 1px solid #dadada;
  border-radius: 5px;
  height: calc(100% - 14px);

  @media screen and (min-width: 480px) {
    min-width: 466px;
  }

  h3 {
    padding-left: 6px;
  }
}

.department-attribute {
    padding-left: 6px;

    span {
     color: #fff;
    }
}


.departement-products{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.department-products-list {
  list-style: none;
  padding-left: 6px;
}

.departement-product-line{
    padding:10px;
}

.department-product-name{
    line-height:40px;
}

.department-product-remove{
    background-color:#fff;
}

.department-product-add{
    background-color:#fff;
    margin:10px;
}
