.departement-products{
    justify-content: space-between;
    display:flex;
}

.department-products-list{
    list-style: none;
}

.departement-product-line{
    padding:10px;
}

.department-product-name{
    line-height:40px;
}

.department-product-remove{
    background-color:#fff;
}