.featured-products {
  padding: 12px;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.featured-products-actions {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content:space-between;
  }
}

.featured-products-sort, .featured-products-search {
  margin-left: 30px;
  padding: 2px 4px;

  @media screen and (max-width: 480px) {
    margin: 15px;
  }
}

.featured-product-line {
  margin-bottom: 10px;
}

.featured-products-list {
  list-style-type: none;
  padding: 0 16px 0 0;
  max-height: 650px;
  overflow-y: auto;
}

.featured-products-empty {
  padding: 64px;
  text-align: center;
}
