$modal-shadow: rgba(0, 0, 0, 0.4);
.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22,22,22,0.5);

    &.hidden {
      display: none;
    }
}

.modal-content {
    display: flex;
    align-items: center;
    background:#e1e1e1;
    margin: 0 auto;
    position:relative;
    z-index:41;
    top: 25%;
    padding:30px;
    width:400px;
    box-shadow: 0 0 10px $modal-shadow;
    justify-content: space-between;
}

modal-content-close {
  margin: 0;
  border: 2px solid #0098C9;
}
