.product {
  min-width: 300px;
  background-color: #fff;
  color: #444;
  padding: 24px;
  border-radius: 5px;
}

.product-properties {
  margin-top: 12px;
  display: inline-block;
}

.product-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #555;
}

.product-price, .product-size {
  line-height: 1.5;
  font-family:sans-serif;
  font-size: 13px;
}

.product-image {
  margin-top: 6px;
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
}

.product-img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  &:hover {
    transform: scale(1.1);
    transition: .4s;
  }
}

.product-actions {
  margin-top: 12px;
  float: right;
}
