.wishlist-products {
    padding: 12px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.wishlist-products-list {
    margin-top: 60px;
    padding: 0 16px 0 0;
    max-height: 650px;
    overflow-y: auto;
    list-style-type: none;
}
