.wishlist-products {
    padding: 12px;
    min-width: 535px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.wishlist-products-list {
    margin-top: 60px;
    padding:0;
    max-height: 650px;
    overflow-y: scroll;
    list-style-type: none;
}
